*{
    margin: 0px;
    padding: 0px;   
    box-sizing: border-box;
}

/* *************Font style added***************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* *************Font style added****************** */




            /* ***********carsoul image resize*************** */

.car-quality{
    height: 80vh;
    
}
            /* ***********carsoul image resize*************** */

.star>p>i{
    color: rgb(231, 170, 16);
}

            /* *********Navbar button media-query Added*********** */
@media screen and (max-width:546px) {
    .btnn{
        display: none;
    }
}
@media screen and (min-width:991px) {
    .btnn{
        display: none;
    }
}
@media screen and (max-width:768px) {
    .company-logo{
        display: none;
    }
    
}
         /* ***********Navbar button media-query Added************ */
